{{#extends 'base'}}

{{#block 'content'}}
<h1>Login</h1>
<p>Please login with your account below!</p>

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <input type="submit" class="btn btn-primary" value="Login" />
</form>

<footer style="position: fixed; bottom:0px">
    <a href="/owner/ownerLogin"> <small> Site Owner Login Here </small> </a>
</footer>

{{/block}}

{{/extends}}